#container-box{
    display: flex;
    height: 40px;
    width: 150px;
    border: 2px solid black;


}
.box{
    border: 1px solid chocolate;
    width: 40px;
    height: auto;
    display: flex;
}
.part{
    display: flex;
    width: 40px;
    height: auto;

}
.box:nth-child(1){
    background-color: aquamarine;
    display: flex;
}
.box:nth-child(2),.box:nth-child(4){
    background-color: bisque;
}
#image{
    height: 30px;
    width: 40px;
}